<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href="@{/form}">Create New Product</a>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Create At</th>
        <th>Category</th>
        <th>Edit Product</th>
        <th>Delete Product</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.createAt}"></td>
        <td th:text="${product.category.name}"></td>
        <td>
            <a th:href="@{/form/{id}(id=${product.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure you want to delete the product?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>